.body1 {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bg.png");
    padding: 60px;
    background-size: cover;
    background-repeat: no-repeat, repeat;

  }
  
 