.aboutStyle{

    width: 210mm;
    min-height: 190mm;
    padding: 20mm;
    font-size: 20px;
    margin: 10mm auto;
    border: 3px #026b7e solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .bodyb {
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    padding: 60px;
  }